@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
    background-color: rgb(50, 50, 50);
}

.input-form{
    padding: 1rem;
    width: 20rem;
    margin: 1rem 0;
}